@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
    --primary-color: #8d4986;
    --secondary-color: black;
    --paragraph-font: 'Roboto', sans-serif;
}

body,
h1,
h2,
p,
ul,
li {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}

header {
    max-width: 100%;
    background-color: rgb(196, 125, 177);
    color: white;
    padding: 1rem;
}

header img {
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
}

h1 {
    margin: 0;
    text-align: center;
}

/* Navigation Styles */
nav {
    background-color: #8d4986;
    padding: 1rem;
    border-radius: 0px;
    margin: 1rem -1rem -1rem -1rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 0 90px;
}

nav ul li a {
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

body {
    font-family: var(--paragraph-font);
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1px;
}

.grid,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.company-info,
.employee-profiles,
.contact-form {
    max-width: 840px;
    margin: 5px auto;
    padding: 20px;
    border: 2px solid #0077B6;
    border-radius: 8px;
}

.company-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-info h1 {
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    margin-right: 0.5px;
    margin-left: 0.5px;
    padding: 15px;
    text-align: center;
    font-size: 3rem;
    Background-color: rgba(244, 243, 239, 0.912);
    color: rgb(133, 33, 163);
}

.company-info h2 {
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    color: #099eed;
}

.company-info p {
    color: black;
    font-weight: 500;
    margin-top: 1px;
}

.employee-profiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.employee-profiles h2 {
    text-align: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2.5rem;
    font-weight: 800;
    color: #099eed;
}

.employee-profiles figure {
    text-align: center;
    margin: 10px 0;
    grid-row: 2/2;
    color:  rgb(133, 33, 163);
}

figure img {
    width: 100%;
    height: auto;
    grid-row: 2/2;
}

.contact-form {
    flex-direction: column;
    gap: 0.2rem;
    max-width: 840px;
}

.contact-form h2 {
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 800;
    color: #099eed
}

.contact-form label,
.contact-form textarea,
.contact-form input[type="text"],
.contact-form input[type="email"] {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.contact-form .radio-group {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

textarea {
    white-space: pre-wrap;
    height: 25rem;
    font-size: 1rem;
}

.contact-form .form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

contact-form input[type="checkbox"] {
    margin-right: 5px;
}

.contact-form button {
    width: 36%;
    text-align: center;
    display: inline;
    font-size: 1.2rem;
    background-color: #1946cd;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #1ed233;
}

footer {
    max-width: 100%;
    background-color: rgb(156, 132, 154);
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 1rem;
    text-align: center;
    position: relative;
    bottom: 0;
    gap: 5rem
}

#lastModified {
    color: white;
}