@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* General Styles */
body,
html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    text-align: center;
    background-color: #84dce8;
    padding: 1rem;
    color: #1a1a1a;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Main Content */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.data {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.data h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #1a1a1a;
    text-align: center;
}

.data p {
    margin: 5px 0;
}

/* Weather Section */
.weather {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.weather h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #1a1a1a;
}

.weather-icon {
    font-size: 1.5rem;
    margin-left: 5px;
}

/* Footer */
footer {
    background-color: #84dce8;
    text-align: center;
    padding: 1rem;
    color: #1a1a1a;
    font-size: 0.9rem;
}

#lastModified {
    color: #333;
}