@media (min-width: 768px) {

    /* Header */
    header h1 {
        font-size: 3rem;
    }

    /* Main Content Layout */
    main {
        max-width: 1200px;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    .place,
    .data,
    .weather {
        flex: 1;
        margin-bottom: 0;
    }

    .data,
    .weather {
        padding: 30px;
    }

    /* Adjust Weather Icon */
    .weather-icon {
        font-size: 2rem;
    }
}