@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@media (min-width: 768px) {

    /* Wider View */
    h1 {
        font-size: 3rem;
    }

    #weather .weather-icon::after {
        content: '🌦️';
        margin-left: 10px;
    }
}